@charset "UTF-8";
/********************
¡MIXINS
********************/
/********************
¡CLASSES
********************/
.bs-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px;
}
@media screen and (max-width: 649px) {
  .bs-squeeze {
    padding: 0 10px;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/
.btn {
  border: solid 0.125em;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  padding: 0.625em 1em;
  text-transform: uppercase;
}
.btn.btn-lg {
  font-size: 1.5rem;
}
.btn.btn-md {
  font-size: 1.25rem;
}
.btn.btn-sm {
  font-size: 1rem;
}
.btn.color-1 {
  background: #3498db;
  border-color: #3498db;
}
.btn.color-1.hollow {
  background: transparent;
  color: #3498db;
}

/*------------------------------------*\
                ¡ICONS
\*------------------------------------*/
/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/
html {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/*------------------------------------*\
              ¡FORMS
\*------------------------------------*/
.input-group {
  margin: 20px 0 0;
}
.input-group .label {
  display: block;
  color: #000000;
}
.input-group .input {
  border: solid 1px #000000;
  display: block;
  font-size: 1rem;
  height: 40px;
  padding: 0 5px;
  width: 100%;
}
.input-group .textarea {
  border: solid 1px #000000;
  display: block;
  font-size: 1rem;
  height: 150px;
  max-height: 150px;
  max-width: 100%;
  padding: 5px;
  width: 100%;
}
.input-group .checkbox {
  cursor: pointer;
  display: inline-block;
  padding-left: 24px;
  position: relative;
}
.input-group .checkbox input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.input-group .checkbox span {
  background-color: #FFFFFF;
  border: solid 1px #FFFFFF;
  border-radius: 4px;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-group .checkbox input:checked ~ span:after {
  border-color: #3498db;
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 5px;
  right: 2px;
  position: absolute;
  top: 3px;
  transform: rotate(135deg);
  width: 12px;
}
.input-group .radio {
  position: relative;
  display: block;
  padding-left: 24px;
  cursor: pointer;
}
.input-group .radio input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.input-group .radio span {
  border: solid 1px #000000;
  border-radius: 50%;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input-group .radio input:checked ~ span {
  background: transparent;
}
.input-group .radio input:checked ~ span:after {
  background: #3498db;
  border-radius: 50%;
  content: "";
  display: block;
  height: 12px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 12px;
  z-index: 1;
}
.input-group .select {
  border: solid 1px #000000;
  display: inline-block;
  position: relative;
  width: 100%;
}
.input-group .select select {
  background: #FFFFFF;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 40px;
  line-height: 1.5;
  margin: 0;
  padding: 5px 35px 5px 10px;
  outline: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input-group .select:after {
  border-color: #3498db;
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 16px;
  right: 10px;
  position: absolute;
  top: 5px;
  transform: rotate(135deg);
  width: 16px;
}

/*------------------------------------*\
                ¡LINKS
\*------------------------------------*/
.link {
  cursor: pointer;
  text-decoration: none;
}
.link.color-1 {
  color: #3498db;
}
.link.color-1:link, .link.color-1:visited {
  color: #3498db;
}
.link.color-1:hover, .link.color-1:active {
  text-decoration: underline;
}

/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  font-family: -apple-sytem, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.bs-content {
  flex: 1;
  position: relative;
}

/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/
header {
  height: 100px;
}

/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/
footer {
  height: 100px;
}

/*# sourceMappingURL=main.css.map */
