/********************
¡MIXINS
********************/

@mixin gridMachine($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
    }
}


/********************
¡CLASSES
********************/

.bs-squeeze {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    @media screen and (max-width: breakpoint(phone-lg)) {
        padding: 0 10px;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}